%section.section{:style => "background-color: #eee;"}
  .row.col-lg-12
    .card{style: "width: 18rem;"}
      %img.card-img-top{alt: "...", src: @item.images[0],}
        .card-body
          %h5.card-title #{@item.title}
          %p.card-text #{@item.description}
          %a.btn.btn-primary{href: "#"} #{@item.price} £